@import "lib/custom.bootstrap/custom.bootstrap.import.less";

* {
	outline: 0;
}

html, body {
	height: 100%;
}

.list-group-item-divider {
	background-color: whitesmoke;
}

#gamelist .lobby {
	position: relative;
	padding: 10px;
	border-bottom: 1px solid lightgray;

	&:last-child {
		border-bottom: none;
	}

	.cover {
		display: flex;
		align-items: center;
		justify-content: center;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		cursor: pointer;
		background-color: white;
		opacity: 0;
		transition: 0.3s;
	}

	&:hover .cover {
		opacity: 0.9;
	}

	.playerCount {
		float: right;
		background-color: #333;
		font-weight: normal;
	}

	.lobbyName {
		margin: 0;
		overflow: hidden;
		text-overflow: ellipsis;
	}
}