@import "lib/custom.bootstrap/custom.bootstrap.import.less";

* {
	outline: 0;
}

html, body {
	height: 100%;
}

.list-group-item-divider {
	background-color: whitesmoke;
}

#gamelist .lobby {
	padding: 5px;
	border-bottom: 1px solid lightgray;
	transition: 0.25s;

	&:last-child {
		border-bottom: none;
	}

	&:hover {
		background: whitesmoke;
	}

	.lobbyName {
		overflow: hidden;
		text-overflow: ellipsis;
	}
}