{
	"public": {},
	"private": {
		"gameDefinitions": {
			"sampleGameKey": {
				"gameName": "Sample Game",
				"minPlayers": 2,
				"maxPlayers": 10,
				"gameDataDefaults": {
					"allowPlayersAfterStart": true
				}
			}
		},
		"oAuth": {
			"google": {
				"clientId": "",
				"secret": ""
			}
		}
	}
}